body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    width: 350px;
    border: 3px solid #ccc;
    cursor: pointer;
    font-weight: 700;
    background-color: #5f504f;
    color: #fff;
    margin-top: 30px;
    padding: 15px;
    border-radius: 20px;
}
.global-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-display{
    height: 150px; 
    width: 50%; 
    background-color: #fff; 
    border: 5px solid #ccc; 
    font-size: 24px; 
    box-sizing: border-box;
    padding: 10px; 
    margin-bottom: 10px;
    overflow: auto; 
    white-space: pre-wrap;
    word-wrap: break-word; 
    margin-top: 30px;
}

.keys-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 50px;
    border-radius: 100px;
    border: 8px solid #110404;
}

.row{
    display: flex;
}

.key{
    width: 80px;
    height: 50px;
    border: 2px solid #ccc;
    margin: 5px;
    font-size: 13px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 25px;
}


.space-key{
    width: 300px;
}

button:active {
    background-color: #ddd;
  }

.clear-btn{
    width: 100px;
    border: 3px solid #ccc;
    margin: 5px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    font-weight: 700;
    background-color: #5f504f;
    color: #fff;
    border-radius: 40%;
    padding: 15px;
}